<div class="alert alert-info">
  <button class="close" data-dismiss="alert">&times;</button>
  <span class="label label-primary">NEW FEATURE!</span> Quick
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    おわび
  </div>
  <div class="panel-body">
    この度は、誠に申し訳ございませんでした。<br>
    おわびプログレス
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-primary" style="width: 20%"></div>
      <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
    </div>
    <a href="#owabi-modal" data-toggle="modal" class="btn btn-primary">お詫びしてもらう</a>

    <div class="modal fade" id="owabi-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2>お詫び</h2>
          </div>
          <div class="modal-body">
            <a href="#" data-toggle="tooltip" title="日本語の単語です">ほんとう</a>
            に
            <a href="#" data-toggle="popover" title="述語" data-content="用言のことです">ごめんね</a>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">次からは気をつけろ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#egg" data-toggle="tab">Egg Campaign</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane active">
    <h1>New Users</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>score</th>
        </tr>
      </thead>
      <tbody>
        <tr class="warning">
          <td>1</td>
          <td>sei0o<span class="badge">322</span></td>
          <td>99999</td>
        </tr>
        <tr>
          <td>2</td>
          <td>naokun<span class="badge">93</span></td>
          <td>87544</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="egg" class="tab-pane">
    eggs eat other eggs
  </div>
</div>
